<style>
  import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

  * {
    background-color: darkgray;
  }

  .container-main {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    max-width: 400px;
    padding: 20px;
    border: 1px;
    border-radius: 10px;
    background-color: white;
  }

  .titulo-ola {
    font-size: 22px;
  }

  .texto-conteudo {
    color: #222;
  }
</style>

<div class="container-main">
  {{{ body }}}
  {{> footer}}
</div>
