<p class="titulo-ola">Olá, {{ provider }}!</p>
<br />
<p class="texto-conteudo">Houve um cancelamento de horário, confira abaixo:</p>
<p class="texto-conteudo">
  <strong>Cliente: </strong> {{ user }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <small>
    O horário está disponível para novos agendamentos!
  </small>
</p>
